.container {
    width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}